<div class="container">
  <div class="login">
     <div class="container">
       <form [formGroup]="loginform" (submit)="loginsubmit(loginform.value)">
          <h1>Log in</h1>
          <mat-form-field  class="col-md">
            <mat-label>User Name</mat-label>
            <input matInput placeholder="Rohit Khanna" formControlName="username">
            <mat-icon matSuffix>account_circle</mat-icon>
            <mat-error *ngIf ="returnControls('username').errors">User Name is required</mat-error>
            </mat-form-field> 

            <mat-form-field  class="col-md">
              <mat-label>Password</mat-label>
              <input matInput placeholder="*****" formControlName="password" type="password">
              <mat-icon matSuffix>lock</mat-icon>
              <mat-error *ngIf =" returnControls('password').errors">Password is required</mat-error>
              </mat-form-field>

          <a (click)="forgotpassword()">Forgot password?</a>
          <button>log in</button>
        </form>
         
           
     </div>
  </div>
  <div class="register">
      <div class="container">
          
          <h2>Welcome Back!</h2>
          <p>Starting buying your favourite product</p>

          <p>Not A Member?</p>
          <button [routerLink]="['/register']" routerLinkActive="router-link-active" >Register <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></button>
      </div>
  </div>  
</div>




