



  .table-hover{
    height: 3rem;
    font-family: sans-serif;
    
    
}

.row2{
    margin-left: 170px;
    margin-right: 170px;
    font-family: sans-serif;
    height: 5rem;
}
.low{
    
    font-style: italic;
    font-family: sans-serif;
    
    
    
}
