<div class="container mt-5 shadow-lg p-3 mb-5 rounded ">
    <div class="row justify-content-center">
        <div class="col-md">
                <mat-card>
                    <mat-card-content class="card-body">
                        <p class="h4 text-center">Enter Product Details</p>
                        <hr>
                        <div class="row mt-4">
                            <div class="col-md-6" style="border-right: 1px solid rgb(228, 228, 228);">
                                <form [formGroup]="productform" (submit) = "userSubmit(productform.value)">
                                    <mat-form-field class="col-md">
                                        <input matInput placeholder="Name" formControlName="productname">
                                        <fa-icon [icon]="box" matSuffix></fa-icon>
                                        <mat-error *ngIf="getControl().productname.error">Name required</mat-error>
                                    </mat-form-field>
                                    <mat-form-field class="col-md">
                                        <input matInput placeholder="Price" formControlName="price" type="number">
                                        <fa-icon [icon]="money" matSuffix></fa-icon>
                                        <mat-error *ngIf="getControl().price.error">Price required</mat-error>
                                    </mat-form-field>
                                    <mat-form-field class="col-md">
                                        <input matInput placeholder="Category" formControlName="category">
                                        <fa-icon [icon]="dice" matSuffix></fa-icon>
                                        <mat-error *ngIf="getControl().category.error">Category required</mat-error>
                                    </mat-form-field>
                                    <mat-form-field class="col-md">
                                        <input matInput placeholder="Sub Category" formControlName="subcategory">
                                        <fa-icon [icon]="dice" matSuffix></fa-icon>
                                        <mat-error *ngIf="getControl().category.error">Sub Category</mat-error>
                                    </mat-form-field>
                                    <mat-form-field class="col-md">
                                        <input matInput placeholder="Brand" formControlName="brand">
                                        <fa-icon [icon]="dice" matSuffix></fa-icon>
                                        <mat-error *ngIf="getControl().brand.error">Brand</mat-error>
                                    </mat-form-field>
                                    <mat-form-field class="col-md">
                                        <input matInput placeholder="complete the look" formControlName="look">
                                        <fa-icon [icon]="dice" matSuffix></fa-icon>
                                        <mat-error *ngIf="getControl().look.error">Complete the look</mat-error>
                                    </mat-form-field>
                                    <mat-form-field class="col-md">
                                        <input matInput placeholder="complete description" formControlName="details">
                                        <fa-icon [icon]="dice" matSuffix></fa-icon>
                                        <mat-error *ngIf="getControl().look.error">Complete description</mat-error>
                                    </mat-form-field>
                                    
                                    <button mat-raised-button color="primary" class="mt-5 btn-block">Add Product</button>
                                </form>
                            </div>
                            <div class="col-md-6">
                                <input type="file" (change)="onFileChange($event)" #fileInput multiple>
                                <div class="text-center">
                                    <img [src]="imgURL" class="img-fluid" style="height: 15rem;">
                                </div>
                            </div>
                        </div>
                        
                        <p class="h6 text-muted mt-5">Provide Description</p>
                        <hr>
                        <div class="row mt-5" *ngFor="let desc of description;let i = index">
                            <div class="col-md-4">
                                <input class = "form-control" [(ngModel)] = "desc[0]">
                            </div>
                            <div class="col-md-4">
                                <input class = "form-control" [(ngModel)] = "desc[1]">
                            </div>
                            <div class="col-md-2">
                                <button class="btn btn-danger btn-block" (click)="removeDescription(i)" >
                                    <fa-icon [icon]="delete" matSuffix></fa-icon>
                                </button>
                            </div>
                        </div>

                        <button class="btn btn-primary mt-5" (click)="addDescription()">Add Description</button>
                    </mat-card-content>
                </mat-card>
        </div>
    </div>
</div>